[Unit]
Description=blueberry-tray
Wants=polybar.service
After=polybar.service

[Service]
ExecStart=/usr/bin/env blueberry-tray
Restart=always

[Install]
WantedBy=wm.target
