[Unit]
Description=cmst

[Service]
Type=simple
ExecStart=/usr/bin/env cmst --minimized
ExecStop=/usr/bin/pkill cmst

[Install]
WantedBy=wm.target
After=taffybar.service,status-notifier-watcher.service
