[Unit]
Description=jetbrains-toolbox
Wants=taffybar.service
After=taffybar.service

[Service]
ExecStart=/usr/bin/env jetbrains-toolbox --minimize
Restart=always

[Install]
WantedBy=wm.target
