[Unit]
Description=nm-applet
After=polybar.service

[Service]
Type=simple
ExecStart=/usr/bin/env nm-applet --indicator
ExecStop=/usr/bin/pkill nm-applet

[Install]
WantedBy=wm.target
