[Unit]
Description=taffybar
Wants=status-notifier-watcher.service
After=status-notifier-watcher.service

[Service]
Type=simple
ExecStart=/usr/bin/env ppichler-taffybar
ExecStop=/usr/bin/pkill -f ppichler-taffybar
Restart=always
RestartSec=3

[Install]
WantedBy=wm.target
