[Unit]
Description=taffybar

[Service]
Type=simple
ExecStart=/usr/bin/env my-taffybar
ExecStop=/usr/bin/pkill -f my-taffybar
Restart=always
RestartSec=3

[Install]
WantedBy=wm.target
