[Unit]
Description=udiskie
Wants=polybar.service
After=polybar.service

[Service]
ExecStart=/usr/bin/env run_unity.sh udiskie --tray
Restart=always

[Install]
WantedBy=wm.target
