[submodule ".zgen"]
	path = .zgen
	url = https://github.com/tarjoilija/zgen
[submodule ".config/nvim/pack/minpac/opt/minpac"]
	path = .config/nvim/pack/minpac/opt/minpac
	url = https://github.com/k-takata/minpac.git
[submodule ".asdf"]
        path = .asdf
        url = https://github.com/asdf-vm/asdf
        branch = v0.4.3
[submodule ".xmonad/taffybar-git"]
	path = .xmonad/taffybar-git
	url = https://github.com/travitch/taffybar
        branch = stable-0.5
[submodule ".xmonad/xmonad-git"]
	path = .xmonad/xmonad-git
	url = https://github.com/xmonad/xmonad
        branch = v0.13
[submodule ".xmonad/xmonad-contrib-git"]
	path = .xmonad/xmonad-contrib-git
	url = https://github.com/xmonad/xmonad-contrib
        branch = v0.13
