[submodule "dot_asdf"]
	path = dot_asdf
	url = https://github.com/asdf-vm/asdf
	branch = v0.4.3
[submodule "dot_tmux/plugins/tpm"]
	path = dot_tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "dot_config/alacritty/catppuccin"]
	path = dot_config/alacritty/catppuccin
	url = https://github.com/catppuccin/alacritty
